{% extends 'store/base.html' %}
{% block title %}Профиль{% endblock %}

{% block content %}
<h2>Профиль: {{ user.username }}</h2>
<hr>
<p><a href="{% url 'change_password' %}">Сменить пароль</a></p>

<p style="margin-top: 20px;">
    <a href="{% url 'delete_account' %}" style="color: red;">Удалить аккаунт</a>
</p>

<section>
    <h3>Черновики сборок</h3>
    {% if drafts %}
        <ul class="build-list" style="background-color: #111111">
            {% for build in drafts %}
                <li>
                    {{ build }}<br>
                    <form action="{% url 'order_pc_build' build.id %}" method="post" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit">Оформить заказ</button>
                    </form>

                    <form action="{% url 'delete_build' build.id %}" method="post" style="display:inline; margin-left:10px;">
                        {% csrf_token %}
                        <button type="submit" onclick="return confirm('Удалить сборку?')">Удалить</button>
                    </form>

                </li>
            {% endfor %}
        </ul>
    {% else %}
    <p>У вас нет черновиков сборок.</p>
    {% endif %}
</section>
<h3>Готовые ПК</h3>
<ul>
  {% for order in prebuilt_orders %}
    <li>
      <strong>{{ order.product.name }}</strong> — Статус: {{ order.get_status_display }}
    </li>
  {% empty %}
    <li>Нет заказов.</li>
  {% endfor %}
</ul>
<hr>

<section>
    <h3>Ваши заказы</h3>
    {% if ordered_builds %}
    <ul class="build-list">
        {% for build in ordered_builds %}
        <li>
            {{ build }} — <strong>Статус:</strong> {{ build.get_order_status_display }}<br>
            <small>Создано: {{ build.created_at|date:"d.m.Y H:i" }}</small>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>Вы ещё не оформляли заказы.</p>
    {% endif %}
</section>

{% endblock %}
